datasets
sentence_transformers
transformers
torch
numpy
scikit-learn
openai
langchain_community 
tiktoken 
langchain-openai 
langchainhub 
chromadb 
langchain
unstructured
docx2txt
fastapi 
uvicorn
psycopg2-binary
sqlalchemy
asyncpg
databases
pydantic
pyyaml